.faq_search-wrapper {
    background-color: rgba(20, 20, 20);
    width: 100%;
    height: 80%;
    color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 16px 10px rgb(0, 0, 0, 0.2);
}

.faq-input-wrap {
    margin: 25px auto 0px auto;
    width: 100%;
    display: flex;
}

.faq-user-input {
    width: 80%;
    margin: 10px;
    border-radius: 4px;
    background-color: rgba(50, 50, 50);
    border: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(0, 217, 255);
}

.faq-submit-btn {
    width: 15%;
    height: 80%;
    margin: auto 10px;
    background-color: rgb(38, 38, 38);
    border: 4px outset rgba(200, 200, 200);
    border-radius: 8px;
    cursor: pointer;
    color: rgb(0, 217, 255);
    font-weight: bolder;
}

.faq-submit-btn:hover {
    filter: brightness(2.5);
}

.faq-submit-btn:active {
    filter: brightness(0.5);
    filter: blur(5px);
    
}

.faq-welcome-box {
    width: 50%;
    background-color: rgba(25, 25, 25);
    filter: brightness(2.5);
    color: red;
    border-radius: 8px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.disco-res-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.user-query-text {
    text-align: center;
    font-size: 14px;
}

.loading-icon {
    margin: auto;
    width: 50px;
}

.disco-answer {
    text-align: justify;
    font-size: 16px;
}